*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pageHeaderContainer{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #444444;
    color: rgb(219,219,219);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.companyLogo{

    max-height: 45px;
    max-width: auto;
}

.headerNavigationLinks{
    
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.headerNavigationLinks li{

    list-style: none;
}

.headerNavigationLinks a{

    color: rgb(219,219,219);
    text-decoration: none;
    font-size: 12px;
    letter-spacing:2px;
}

/* FOR MOBILE PORTION OF THE APPLICATION

.mobileBurger{

    display:none;
    cursor: pointer;
}

.mobileBurger div{

    width: 20px;
    height: 3px;
    background-color: rgb(219,219,219);
    margin: 4px;
}

*/

@media screen and (max-width:1024px){

    .headerNavigationLinks{
        width: 35%;
    }
}

@media screen and (max-width:768px){ 

    body{

        overflow-x: hidden;
    }

    .headerNavigationLinks{

        position: absolute;
        right: 0px;
        height:92vh;
        top: 8vh;
        background-color: #444444;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .headerNavigationLinks li{

        opacity: 0;
    }

    /*FOR MOBILE PORTION
    .mobileBurger{

        display: block;
    }
    */
}

/*Second Level*/
#secondLevelContainer{

    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 440px;
    color: #de955e;
    position: relative;
}

.imgContainer{
    background-color: #444444;
    height: 360px;
    width: 620px;
}

.imgContainer img{
     
    margin:10px;
    height: 340px;
    width: 600px;
}

#logoOverContainer{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:9;
}

.logoOver{

    max-height: 150px;
    max-width: 150px;
}

/*Third Level*/
#thirdLevelContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
}

.descrContainer{

    background-color: #dbdbdb;
    color: #444444;
    margin: 10px;
}

#topListContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#botmListContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageContainer{

    width: 200px;
    height: 120px;
    background-color: #de955e;
    margin: 10px;
}

.ulContainer{

    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    background-color: #de955e;
    margin: 15px;
    text-align: center;
    color: #dbdbdb;
}

h3{
    margin-top: 3px;

    color: #444444;
}

ul{

    background-color: #444444;
    margin:10px;
}

.ulContainer li{

    list-style:none;
}

/*Fourth Level*/
#fourthLevelContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    height: 140px;
    color: #444444;
    text-align: center;
    padding: 20px;
}

.cButton{

    background-color:#de955e;
    color: #444444;
    width: 90px;
    height: 25px;
    margin: 7px;
}


/*Footer*/
#footerContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #444444;
}

.socMediaLogos{

    height: 50px;
    width: 50px;
    margin: 5px;
}